@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');

body, button, input, select, textarea {
    font-family: "Klee One", cursive;
}

*{
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

:root{
    --fundo: #e4f1af;
}

body{
    background-color: var(--fundo);
}